<div class="quizz__container">
    <div class="quizz__logo">
        <img src="assets/imgs/logo.png" alt="logo" />
        <h3>
            {{title}}
        </h3>
    </div>
    <div class="quizz__questions">
        <h3>
            Questão selecionada
        </h3>
    </div>
    <div class="quizz__options">
        <button class="btn-option">Questão 1</button>
        <button class="btn-option">Questão 1</button>
        <button class="btn-option">Questão 1</button>
        <button class="btn-option">Questão 1</button>
        <button class="btn-option">Questão 1</button>
    </div>

    <div class="quizz__results">
        <h1>
            O seu resultado é:
        </h1>
        <p>
            resposta selecionada
        </p>
    </div>
</div>
